<div class="container">
  <br />
  <div class="jumbotron">
    <h4>Send Message</h4>
    <br />
    <textarea id="message" class="form-control" placeholder="Message" name="message"></textarea>
    <br />
    <button id="send" class="btn btn-success">Send</button>
  </div>
  <div id="messages">
  </div>
  </div>
</div>

<script>
  var socket = io();
  var cache_storage, cache_dirty;
  cache_storage = cache_dirty = false;

  $(document).ready(function() {

    // sessionStorage should be supported
    if (typeof(Storage) === 'undefined') {
      console.log('web storage not supported.')
    } else {
      cache_storage = true;
      getLocation(function() {
        $.get('/messages', function success(data) {
            data.map(addMessage);
        });
      });
    }

    $("#send").click(function() {

      if (cache_storage && cache_dirty) {
        console.log('cache is on and dirty');
        var message = {
          content: $('#message').val(),
          lat: Number(sessionStorage.lat),
          lon: Number(sessionStorage.lon)
        }
        postMessage(message);
      } else {
        console.log('cache is off or clean');
        getLocation(function(pos) {
        var message = {
            content: $('#message').val(),
            lat: pos.coords.latitude,
            lon: pos.coords.longitude
          }
          postMessage(message);
        });
      }
    });
  });

  socket.on('message', addMessage);

  function addMessage(message) {

    $('#messages').append(`
      <ul>
        <li>${message.username}</li>
        <li>${message.content}</li>
        <li>${distanceBetweenCoords(sessionStorage.lat, sessionStorage.lon, message.lat, message.lon)}</li>
        <li>${message.date}</li>
      </ul>
    `);
    $.get('/', null);
  }

  // TODO remove console.log
  function postMessage(message) {
    console.log(sessionStorage.lat);
    console.log(sessionStorage.lon);
    console.log(message);
    $.post('/messages', message);
  }

  // TODO remove console.log
  const getLocation = function(callback) {
    console.log('getLocation called');
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(pos) {
        if (cache_storage && !(cache_dirty)) {
          sessionStorage.lat = pos.coords.latitude;
          sessionStorage.lon = pos.coords.longitude;

          cache_dirty = true;
        }
        callback(pos);
      });
    }
  };


  function distanceBetweenCoords(lat1, lon1, lat2, lon2) {
    let p = 0.017453292519943295; // Math.PI / 180
    let c = Math.cos;
    let a = 0.5 - c ((lat2 - lat1) * p) / 2 + c(lat1 * p) * c (lat2 * p) * (1 - c ((lon2 - lon1) * p)) / 2;

    return 12742 * Math.asin(Math.sqrt(a));
  }

  function roundPhysicalDistance(dist) {
    var distInMeters = dist * 1000;
    switch (true) {
      case (distInMeters <= 60):
        return 'here';
        break;

      case (distInMeters <= 140):
        return '100 meters';
        break;

      case (distInMeters <= 300):
        return '250 meters';
        break;

      case (distInMeters <= 600):
        return '500 meters';
        break;

      case (distInMeters <= 1250):
        return '1 km';
        break;

      case (distInMeters <= 2250):
        return '2 km';
        break;

      case (distInMeters <= 3350):
        return '3 km';
        break;

      case (distInMeters <= 5500):
        return '5 km';
        break;

      case (distInMeters <= 7500):
        return '7 km';
        break;

      case (distInMeters <= 12500):
        return '10 km';
        break;

      case (distInMeters <= 17500):
        return '15 km';
        break;

      case (distInMeters <= 22500):
        return '20 km';
        break;

      case (distInMeters <= 27500):
        return '25 km';
        break;

      case (distInMeters <= 35000):
        return '30 km';
        break;

      case (distInMeters <= 45000):
        return '40 km';
        break;

      case (distInMeters <= 62500):
        return '50 km';
        break;

      case (distInMeters <= 80000):
        return '70 km';
        break;

      default:
        break;
      }
  }
</script>
